body {
  background-color: rgb(255, 255, 255);
  font-family: Roboto, "Ubuntu", Arial, sans-serif;
  font-size: 81.25%;
}
#google-logo {
  align-content: center;
  width: "200px";
  height: "200px";
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  width: 20%;
}
nav {
  margin-left: 70%;
  padding: 5px 2px;
  font-size: small;
  font-family: arial, sans-serif;
}
li {
  display: inline;
  padding: 10px;
}
.avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.er_search_button_dummy {
  border: none;
  background-color: white;
}
.er_voice_search_dummy {
  border: none;
  background-color: white;
  float: right;
}
#searchthing {
  margin-left: 35%;
  border: none;
  background-color: white;
}
.er-dummy-search-box {
  /* width: 100%; */

  padding: 7px 9px;
  background-color: #fff;
  border-radius: 30px;
  height: auto;
  box-sizing: border-box;
  width: 350px;
  border-width: 1px;
  border-color: #dddada;
  border-style: double;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(238, 238, 238);
  color: rgb(2, 0, 0);
  margin-bottom: 10px;
}
#prwanda {
  margin-left: 50px;
  border-radius: 30px;
  width: 100%;
  border-width: 1px;
  border-color: #797171;
  box-sizing: border-box;
}
#footerp {
    word-spacing: 30px;
}